{% extends 'base.html.twig' %}

{% block title %}Categories - Kotormus brother{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-6 col-md-6 ">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ path('images', { 'cat' : 'family' }) }}">
                            <img src="{{ vich_uploader_asset(familyPhoto, 'imageFile') | imagine_filter('my_special_style') }}" alt="">
                        </a>
                        <div class="caption">
                            <h3>Family</h3>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 ">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ path('images', { 'cat' : 'fashion' }) }}">
                            <img src="{{ vich_uploader_asset(fashionPhoto, 'imageFile') | imagine_filter('my_special_style') }}" alt="">
                        </a>
                        <div class="caption">
                            <h3>Fashion</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{ path('images', { 'cat' : 'wedding' }) }}">
                            <img src="{{ vich_uploader_asset(weddingPhoto, 'imageFile') | imagine_filter('my_special_style') }}" alt="">
                        </a>
                        <div class="caption">
                            <h3>Weding</h3>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
