{% extends 'base.html.twig' %}

{% block title %} Photos - {{ cat }} - Kotormus brother {% endblock %}

{% block body %}

    <div class="row">

        {% for img in images %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="{{ vich_uploader_asset(img, 'imageFile') }}">
                    <img src="{{ vich_uploader_asset(img, 'imageFile') | imagine_filter('my_special_style') }}" alt="">
                </a>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}


{% block javascripts %}
        <script>
            baguetteBox.run('.tz-gallery');
        </script>
{% endblock %}