{% extends 'base.html.twig' %}

{% block title %}Kotormus brother{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <a class="lightbox" href="{{ path('cat_list') }}">
                    <img src="{{ vich_uploader_asset(mainPhoto, 'imageFile') | imagine_filter('my_special_style') }}" alt="">
                </a>
                <div class="caption">
                    <h3>Photo</h3>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <a class="lightbox" href="{{ path('video') }}">
                    <img src="{{ vich_uploader_asset(mainVideo, 'imageFile') | imagine_filter('my_special_style')}}" alt="">
                </a>
                <div class="caption">
                    <h3>Video</h3>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
