{% extends 'base.html.twig' %}

{% block title %}Video - Kotormus brother{% endblock %}

{% block body %}
    <div class="row">
        {% for v in videos %}
        <div class="col-sm-6 col-md-6">
            <iframe class="pb-video-frame" width="100%" height="350" src="https://www.youtube.com/embed/{{ v.youtubeKey }}?ecver=1" frameborder="0" allowfullscreen=""></iframe>
        </div>
        {% endfor %}


    </div>

{% endblock %}
