body {

    min-height: 100vh;
    font: normal 16px sans-serif;
    height: 100%;
}

.gallery-container {
    margin-top: 50px;
}
.gallery-container .logo {
    text-align: center;
    margin-top: 10px;

    
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 20px;
}

.tz-gallery.cat {
    margin-top: 70px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}

.phone-block-head {
    padding: 10px;
    font-weight:bold;
    color: whitesmoke;
    font-size: 20px;
}
.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}


    .icon-bar {
        position: fixed;
        top: 40%;
z-index: 100;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 35px;
    }

    .icon-bar a:hover {
        background-color: #000;
    }

    .facebook {
        background: #3B5998;
        color: white;
    }

    .instagram {
        background: #55ACEE;
        color: white;
    }

    .youtube {
        background: #bb0000;
        color: white;
    }
