<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/gallery-clean.css') }}">
    {% block stylesheets %}{% endblock %}


</head>
<body >
<div class="icon-bar">
    <a target="_blank" href="https://www.facebook.com/KOTORMUSbr/" class="facebook"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://www.instagram.com/kotormusbr/?hl=uk" class="instagram"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UCqsjtDmZmcRP_Sody1WuPJw" class="youtube"><i class="fa fa-youtube"></i></a>

</div>
<nav class="navbar-fixed-top" style="background-color: #58595a;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center phone-block-head">
                <span class="glyphicon glyphicon-earphone"></span> +38-096-917-37-83, +38-096-852-4943
            </div>
        </div>
    </div>
</nav>
<div class="container gallery-container">

    <div class="logo">
        <a href="{{ path('index') }}"><img style="max-width: 100%; height: auto;" src="{{ asset('images/lg2.jpg') }}" /></a>
    </div>

    <div class="tz-gallery">

        {% block body %}{% endblock %}

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
